@use "setting" as *;
////////////////////////////////////////////////////////////
///     　　　　　全ページ共通の　first_view   　　　　　////
////////////////////////////////////////////////////////////
@mixin common_first_view {
  /*                leyout
======================================================= */
  .l-wrapper {
    overflow: hidden;
    padding-top: 80px;
    @media only screen and (max-width: 767px) {
      padding-top: 60px;
    }
  }
  /*                header
======================================================= */
  
} //@mixin
