@charset "UTF-8";
/*                共通
======================================================= */
/*                leyout
======================================================= */
.l-wrapper {
  overflow: hidden;
  padding-top: 80px;
}
@media only screen and (max-width: 767px) {
  .l-wrapper {
    padding-top: 60px;
  }
}

/*                header
======================================================= */