@charset "utf-8";
@use "setting" as *;
@use "common_first_view" as *;
////////////////////////////////////////////////////////////
///     　　　　　トップページのfirst_view   　　　　　　////
////////////////////////////////////////////////////////////

.l-home-firstview {
    width:100vw;
    height: 100vh;
}
.p-home-kv__bgimg {
    width: 100%;
    height: 100%;
    .-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}





/*                共通
======================================================= */
@include common_first_view;
